/* main */
    #section{
        background: gainsboro;
   }
   #section .item-section{
        padding-top: 20px;
   }

   #section .card-bottom1{
        flex-direction: row;
   }
   #section .card-bottom1 .text-card-body{
       display: flex;
       flex-direction: column;
       justify-content: center;

   }
    #section .btn-bottom{
        width: 200px;
        background: #eb4b32;
        border:none;
        color: #fff;
   }
/* end main */

@media screen and (max-width:1366px) {
    #section .infor{
        background-image: url(../imgs/hoacuoi2.jpg);
        width: 100%;
        height: 100%;
        border-radius: 0.375rem;
    }
    #section .infor .infor-text{
        width: 90%;
        height: 90%;
        border-radius: 0.375rem;
        padding: 30px;
        text-align: center;
    }
    #section .infor-mobile{
        display: none !important;
    }
}

@media screen and (max-width: 900px){
    #section .infor{
        display: none !important;
    }
    #section .infor-mobile{
        display: flex !important;
    }
}